<!-- <div class="container col-md-6">
  <div class="card text-light bg-dark">
    <div class="card-body">
      <div class="form-group">
        <label> UserName</label>
        <input type="email" class="form-control" ngModel #userName="ngModel" required maxlength="20" minlength="5"
          pattern="Eample@gmail.com">
        <div class="alert alert-danger" *ngIf="!userName.valid && userName.touched">
          <div *ngIf="userName.errors.required"> Plaes Enter Valid Data </div>
          <div *ngIf="userName.errors.minlength"> UserName less than
            {{userName.errors.minlength.requiredLength}} Your length is {{userName.errors.minlength.actualLength}}
          </div>
          <div *ngIf="userName.errors.maxlength"> UserName more than
            {{userName.errors.maxlength.requiredLength}} Your length is {{userName.errors.maxlength.actualLength}}</div>


        </div>
        <div class="alert alert-danger" *ngIf="userName.errors.pattern">
          Must be Enter a valid Email
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>